
html{
  font-family: 'Abel', sans-serif;

}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.red{
  color: rgb(210, 45, 8)
}

.green{
  color: rgb(38, 223, 22)
}

  .maincontainer{

    width: 1180px;
    height: 808px;
    max-height: 808px;
    max-width: 1180px;
    display: flex;
    flex-direction: column;

  }

.collection {
    /* margin: -0.5rem 0 1rem 0; */
    border: 0 !important;
    border-radius: 41px !important;
    overflow: scroll !important;
    /* position: fixed; */
    min-width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    text-align: center;
}

nav .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    padding-left: 25px !important;
}
.nav-wrapper {
    background-image: linear-gradient(249deg, #17B050 16%, #0A7928 81%);
    color: #fff;
    width: 100%;
    height: 84px;
    line-height: 56px;
    padding-top: 13px;
}




 .home-chart-text{

}

.home-chart{
    display: flex;
    align-items: center;
    text-align: left;
    height: 214px;
    width: 760px;
    border-radius: 20px;
    margin-left: 138px;
    margin-right: 54px;
    flex-direction: column-reverse;
}





  .login-welcome {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: -12px;
    font-size: 62.7px;
}

  .login-submit{
    cursor: pointer !important;
    border-radius: .5em !important;
    color: #4e9d53 !important;
    background: #fafafa !important;
    border: 0 !important;
    padding-left: 40px !important;
    padding-right: 40px !important;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
    font-family: 'Ubuntu', sans-serif !important;
    margin-left: 0% !important;
    font-size: 13px !important;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04) !important;
    margin-top: 50px !important;
}

    .un {
    width: 585px;
    height: 74px;
    background-color: white !important;
    color: #16B050 ;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    border-radius: 9px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    }

    form.form1 {
        padding-top: 30px;
    }

    .pass {
    width: 585px;
    height: 74px;
    background-color: white !important;
    color: #16B050;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    border-radius: 9px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    }


    .un:focus, .name:focus, .pass-confirmation:focus,  .description:focus,  .amount:focus, .date:focus, .pass:focus {
        border: 2px solid rgba(0, 0, 0, 0.18) !important;

    }

    .submit {
    cursor: pointer !important;
    border-radius: 5em !important;
    color: #fff !important;
    background: #0e6c63 !important;
    border: 0 !important;
    padding-left: 40px !important;
    padding-right: 40px !important;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
    font-family: 'Ubuntu', sans-serif !important;
    margin-left: 0% !important;
    font-size: 13px !important;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04) !important;
    margin-top: 50px !important;
}
    .profile-submit {
    cursor: pointer !important;
    border-radius: 5em !important;
    color: #fff !important;
    background: #0e6c63 !important;
    border: 0 !important;

    font-family: 'Ubuntu', sans-serif !important;
    margin-left: 0% !important;
    font-size: 13px !important;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04) !important;
    margin-top: 50px !important;
}
    .delete {
      cursor: pointer  !important;
      border-radius: 5em  !important;
      color: #fff !important;
      background: linear-gradient(to right, rgb(210, 45, 8), rgb(255, 12, 12)) !important;
      border: 0 !important;
      padding-left: 20px !important;
      padding-right: 20px !important;
      padding-bottom: 0px !important;
      padding-top: 0px !important;
      font-family: 'Ubuntu', sans-serif !important;
      font-size: 13px !important;
      box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04) !important;
      margin-top: 50px !important;
    }
    .delete-transaction {
      cursor: pointer;
      border-radius: 5em;
      color: #fff;
      background: linear-gradient(to right, rgb(210, 45, 8), rgb(255, 12, 12));
      border: 0;
      /* padding-left: 40px; */
      /* padding-right: 40px; */
      /* padding-bottom: 10px; */
      /* padding-top: 10px; */
      font-family: 'Ubuntu', sans-serif;
      margin-left: 4px;
      /* font-size: 13px; */
      box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
      /* margin-top: 50px; */
  }
    .edit {
      cursor: pointer;
      border-radius: 5em;
      color: #fff;
      background: linear-gradient(to right, #fba840, rgb(250, 222, 188));
      border: 0;
      padding-left: 25px;
      padding-right: 25px;
      padding-bottom: 10px;
      padding-top: 10px;
      font-family: 'Ubuntu', sans-serif;
      margin-left: 4%;
      font-size: 13px;
      box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
      margin-top: 50px;
    }
    .edit-transaction {
    cursor: pointer;
    border-radius: 5em;
    color: #2f68cc;
    background: linear-gradient(to right, #effb40, rgb(221, 253, 44));
    border: 0;
    /* padding-left: 25px; */
    /* padding-right: 25px; */
    /* padding-bottom: 10px; */
    /* padding-top: 10px; */
    font-family: 'Ubuntu', sans-serif;
    /* margin-left: 4%; */
    /* font-size: 13px; */
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    /* margin-top: 50px; */
}

    .profile-edit-buttons{
      display: flex;
      flex-direction: column;
    }

    .cancel {
      cursor: pointer;
      border-radius: 5em;
      color: #fff;
      background: linear-gradient(to right, #e2df23, #fbe024);
      border: 0;
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 10px;
      padding-top: 10px;
      font-family: 'Ubuntu', sans-serif;
      margin-left: 10%;
      margin-left: 3%;
      margin-right: 10px;
      font-size: 13px;
      box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
      margin-top: 50px;
    }

    .login-form {
    background: #4E9D53;
    box-shadow: 10px 16px 32px 0 rgba(0,0,0,0.50);
    border-radius: 53px;
    width: 803px;
    height: 479px;
    margin: 100px;
    padding: 16px 50px;
    padding-bottom: 46px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .login-container{

      display: flex;
      justify-content: center;

    }

    .form-login{
      padding-top: 47px;
      width: 300px;
    }
    .signup-form{
      border-radius: 3%;
      margin: 100px;
      padding: 58px 50px;
      padding-bottom: 46px;
      text-align: center;
      box-shadow: -8px 10px 20px grey;
      background-color: white;

    }


    .profile-form{
      border-radius: 2%;
      margin: 100px;
      padding: 58px 50px;
      padding-bottom: 46px;
      text-align: center;
      /* box-shadow: -8px 10px 20px grey; */
      background-color: white;
      max-width: 527px;
      text-align: left;
  }
    .profile-container{
      display: flex;
      justify-content: center;
      flex-direction: column;
      border-radius: 10%;
      margin: 100px;
      padding: 58px 50px;
      padding-bottom: 46px;
      width: 60%;
      text-align: left;
      /* box-shadow: -8px 10px 20px grey; */
      background-color: white;

  }

    .signup-container{

      display: flex;
      justify-content: center;

    }

    .form-signup{
      padding-top: 47px;
      width: 300px;
    }

    .signup {
          color: #2f68cc;
          font-family: 'Ubuntu', sans-serif;
          font-weight: bold;
          font-size: 33px;
      }
    .name {
    width: 76%;
    color: #16B050;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;

    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
    }



    .pass-confirmation {
            width: 76%;
    color: #16B050;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 60px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
    }

    .dropdown-signup{
      width: 76%;
      color: rgba(38, 50, 56, 0.78);
      font-weight: 700;
      font-size: 15px;
      letter-spacing: 1px;
      background: rgba(136, 126, 126, 0.04);
      padding: 1px 20px;
      border: none;
      border-radius: 230px;
      outline: none;
      box-sizing: border-box;
      border: 12px solid rgba(0, 0, 0, 0.02);
      margin-bottom: 60px;
      text-align: center;
      margin-bottom: 27px;
      font-family: 'Ubuntu', sans-serif;
    }


    .signup-welcome {
          color: #097827;
          font-family: 'Ubuntu', sans-serif;
          font-size: 24px;
      }

    .signup-intro {
          color: rgba(0, 0, 0, 0.83);
          font-family: 'Ubuntu', sans-serif;
          font-size: 14;
      }

    .dropdown-transaction{
    width: 76%;
    color: rgba(38, 50, 56, 0.78);
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 2px 20px;
    border: none;
    border-radius: 230px;
    outline: none;
    box-sizing: border-box;
    border: 12px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 60px;
    text-align: center;
    margin-left: 42px;
    margin-bottom: 19px;
    font-family: 'Ubuntu', sans-serif;
}

    .add-transaction-welcome {
          color: #16B050;
          font-family: 'Ubuntu', sans-serif;
          font-size: 36px;
      }

    .add-transaction-intro {
          color: rgba(0, 0, 0, 0.83);
          font-family: 'Ubuntu', sans-serif;
          font-size: 14;
      }

      .add-transaction-form{
        border-radius: 3%;
        margin: 100px;
        padding: 40px 50px;
        padding-bottom: 46px;
        text-align: center;
        box-shadow: -8px 10px 20px grey;
        background-color: white;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

      }

      .add-transaction-container{

        display: flex;
        justify-content: center;

      }

      .form-add-transaction{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 40%;
      }

      .description {
      width: 76%;
      color: #16B050;
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 1px;
      background: rgba(136, 126, 126, 0.04);
      padding: 10px 20px;
      border: none;
      border-radius: 20px;
      outline: none;
      box-sizing: border-box;
      border: 2px solid rgba(0, 0, 0, 0.02);
      margin-bottom: 50px;

      text-align: center;
      margin-bottom: 27px;
      font-family: 'Ubuntu', sans-serif;
      }

      .amount {
      width: 76%;
      color: #16B050;
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 1px;
      background: rgba(136, 126, 126, 0.04);
      padding: 10px 20px;
      border: none;
      border-radius: 20px;
      outline: none;
      box-sizing: border-box;
      border: 2px solid rgba(0, 0, 0, 0.02);
      margin-bottom: 50px;

      text-align: center;
      margin-bottom: 27px;
      font-family: 'Ubuntu', sans-serif;
      }

      .date {
      width: 76%;
      color: #16B050;
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 1px;
      background: rgba(136, 126, 126, 0.04);
      padding: 10px 20px;
      border: none;
      border-radius: 20px;
      outline: none;
      box-sizing: border-box;
      border: 2px solid rgba(0, 0, 0, 0.02);
      margin-bottom: 50px;

      text-align: center;
      margin-bottom: 27px;
      font-family: 'Ubuntu', sans-serif;
      }


      .non-active {
        cursor: pointer;
          border-radius: 5em;
          color: #fff;
          background: linear-gradient(to right, rgba(38, 50, 56, 0.78), rgba(38, 50, 56, 0.49));
          border: 0;
          padding-left: 40px;
          padding-right: 40px;
          padding-bottom: 10px;
          padding-top: 10px;
          font-family: 'Ubuntu', sans-serif;
          margin-left: 4%;
          font-size: 13px;
          box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
          margin-bottom: 30px;
      }

      .expenseActive{
        cursor: pointer;
          border-radius: 5em;
          color: #fff;
          background: linear-gradient(to right, rgb(210, 8, 8), #fba840);
          border: 0;
          padding-left: 40px;
          padding-right: 40px;
          padding-bottom: 10px;
          padding-top: 10px;
          font-family: 'Ubuntu', sans-serif;
          margin-left: 4%;
          font-size: 13px;
          box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
          margin-bottom: 30px;
      }
      .incomeActive{
        cursor: pointer;
          border-radius: 5em;
          color: #fff;
          background: linear-gradient(to right, rgb(73, 210, 8), #0aa20f);
          border: 0;
          padding-left: 40px;
          padding-right: 40px;
          padding-bottom: 10px;
          padding-top: 10px;
          font-family: 'Ubuntu', sans-serif;
          margin-left: 4%;
          font-size: 13px;
          box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
          margin-bottom: 30px;
      }

      .user-homecard-container{
        display: flex;
        float: left;
        padding-left: 50px;


      }

      .user-homecard{

        box-shadow: 8px 8px 22px 0 rgba(0,0,0,0.50);
        border-radius: 41px;
        position: relative;
        margin: auto;
        height: 367px;
        width: 532px;
        text-align: left;
        background-image: linear-gradient(270deg, #21778C 0%, #36D067 99%);
        color: #fff;
        padding: 30px;
}
.user-budgetcard {
    display: flex;
    flex-direction: column;
    box-shadow: 8px 8px 22px 0 rgba(0,0,0,0.50);
    border-radius: 41px;
    position: relative;
    margin: auto;
    height: 523px;
    width: 40%;
    text-align: left;
    background-image: linear-gradient(270deg, #21778C 0%, #36D067 99%);
    color: #fff;
    padding: 30px;
    margin-top: 11px;
    flex-wrap: wrap;
}
      .user-stockrec{
        display: flex;
        flex-direction: column;
        box-shadow: 8px 8px 22px 0 rgba(0,0,0,0.50);
        border-radius: 41px;
        position: relative;
        margin: auto;
        height: 100%;
        width: 60%;
        text-align: left;
        background-image: linear-gradient(270deg, #21778C 0%, #36D067 99%);
        color: #fff;
        padding: 30px;
        flex-wrap: wrap;
}

      .user-homecard header {
        position: absolute;
        top: 31px;
        left: 0;
        width: 100%;
        padding: 0 5%;
        /* transform: translateY(-50%); */
        /* display: grid; */
        /* grid-template-columns: 1fr 1fr 1fr; */
        align-items: left;
        font-size: 30px
}

        .homecard-details {
        position: relative;
        margin-top: 22px;
        padding: 0 3%;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        font-size: 24px
      }

      .recent-container {
    display: flex;
    flex-direction: column;
    width: 1250px;
    height: 341px;
}

      .row-one{
        padding-top: 4px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }

      .row-two {
          padding-top: 58px;
          padding-bottom: 60px;
          /* display: flex; */
          /* justify-content: center; */
          /* background-color: lightgrey; */
          align-items: left;
          width: 1180px;
          height: 323px;
}

      .recentContainer{
        display: flex;
        float:left;
        flex-direction: column;
      }

      .transaction-details{
        margin: 10px;
        padding: 10px;
      }

      .recent-container-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .all-transaction-container-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
    padding-top: 2px;
    height: 74vh;
    position: relative;
}


      .category{
        float: left;
        margin-left: 40px;
        /* margin: 25px; */
        padding: 11px;

      }
      /* .background{
        width: 100vw;
        height: 100vh;
        margin-top: -100px;
        background-image: url("https://www.ttao.org/wp-content/uploads/2018/02/faded-background.jpg");
      } */


      .collection .collection-item {
    background-color: #fff;
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
}

    .all-transactions-collection {
    margin: -0.5rem 0 1rem 0;
    border: 1px solid #e0e0e0;
    border-radius: 11px !important;
    overflow: hidden;
    /* position: fixed; */
    min-width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: scroll;
}
    .all-transactions-collection .collection-item {
      background-color: #fff;
      line-height: 1.5rem;
      padding: 10px 32px;
      text-align: center;
      margin: 0;
    }

    .top-bar {
    background-color: darkgrey;
    color: #43ac76;
}
.all-transaction-top-bar {
background-color: #fafafa;
color: #43ac76;

border-radius: 33px;
border-color: grey;
margin-top: 22px;
}

.recent-header{
  color:#868786;
  padding-left: 35px;
  font-size: 22.7px;
}

  .filterBar
    {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.filterNavBar{
  width: 100vw;
  height: 5vw;
  background-color: #0E6C63;
  display: flex;
  justify-content: center;
  flex-direction: row;

}

input[type=text]{
  background-color: white !important;
  color: #16B050 !important;

}

.budget-info-container{
  display: flex;
  justify-content: center;
  flex-direction: row;

}
.stockinfo-container{
  display: flex;
  justify-content: center;
  flex-direction: column;


}

.stockinfo-top-bar {
background-color: #fafafa;
color: #43ac76;
border-radius: 33px;
border-color: grey;
margin-top: 22px;
padding-right: 20px;
}

.stock-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
}

.stock-details{

  justify-content: center;
  flex-direction: row;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 100% !important;
}

.stock-category{
  float: left;
  margin-left: 67px;
}

.chart-section{

    padding-top: 87px;

}

.profile-name {
  font-size: 40px;
  color: #16b050;
}
.profile-username {
  font-size: 40px;
  color: #16b050;
}
.profile-risk {
font-size: 30px;
}

.inline {
  width: 60vw;
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7px !important;
}


.budget-title{
  font-size: 35px;

}

.budget-card-detail{

    font-size: 20px;
    margin-left: 15px;

}

.stock-moredetails-container{

    justify-content: center;
    flex-direction: row;
    margin-top: 29px !important;

}

.stock-moreinfo-container{
  display: flex;
  justify-content: center;
  flex-direction: column;

}

.stock-moredetails-row{
  background-color: white !important;
  max-width: 683px;
  border-radius: 10px;
  padding: 10px;

}

.profile-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

select{
  display: inline !important;
}

.category-transaction-dropdown{
  margin: 21px;
}
.type-transaction-dropdown{
  margin: 21px;
}
.searchbar{
  border-radius: 10px !important;
  margin: 10px !important;
  text-align: center;
}

.searchbar-text{
  color: white;
}

.everything{
  display: flex ;
  flex-direction: column;
  align-items: center;
}

#recent-categories{
  overflow: hidden !important;
  padding-bottom: 11px;
}
