.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.red{
  color: rgb(210, 45, 8)
}

.green{
  color: rgb(38, 223, 22)
}

.transaction{
  text-align: -webkit-center;
}

.nav-wrapper {
    color: #fff;
    background: linear-gradient(to right, #2736b0, #40b7fb);
    width: 100%;
    height: 56px;
    line-height: 56px;
}

.card .card-content {
    padding: 24px;
    border-radius: 0 0 2px 2px;
    height: 32vw;
}

.card .card-content .card-title {
    display: block;
    line-height: 32px;
    margin-bottom: 56px;
    /* padding-right: 54%; */
    margin-left: -3%;
    margin-bottom: 28px;
}

.card .card-content p {
    margin: 0;
    padding-top: 55px;
    font-size: 17px;
}

 .home-chart-text{

     margin-left: -351px;
     margin-top: 172.8px;
     position: sticky;

}

.home-chart{

    display: flex;
    align-items: top;
    text-align: left;
    height: 366px;
    width: 732px;
    margin-top: 25px;
    margin-left: 179px;
}


.row .col.s7 {
    width: 58.3333333333%;
    padding-left: 8%;
    padding-top: 2%;
    left: auto;
    right: auto;
}


/* label color */
  /* .input-field label {
    color: #000;
  } */
  /* label focus color */
  /* .input-field input[type=text]:focus + label {
    color: #000;
  } */
  /* label underline focus color */
  /* .input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  } */
  /* valid color */
  /* .input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  } */
  /* invalid color */
  /* .input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  } */
  /* icon prefix focus color */
  /* .input-field .prefix.active {
    color: #000;
  } */



  .login-welcome {
        color: #2f68cc;
        font-family: 'Ubuntu', sans-serif;
        font-size: 33px;
    }

    .un {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;

    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
    }

    form.form1 {
        padding-top: 30px;
    }

    .pass {
            width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 60px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
    }


    /* .un:focus, .pass:focus {
        border: 2px solid rgba(0, 0, 0, 0.18) !important;

    } */

    .submit {
      cursor: pointer;
        border-radius: 5em;
        color: #fff;
        background: linear-gradient(to right, #2736b0, #40b7fb);
        border: 0;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-family: 'Ubuntu', sans-serif;
        margin-left: 0%;
        font-size: 13px;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
        margin-top: 50px;
    }

    .login-form{
      border-radius: 3%;
      margin: 100px;
      padding: 58px 50px;
      padding-bottom: 46px;
      text-align: center;
      box-shadow: -8px 10px 20px grey;
      background-color: white;

    }

    .login-container{

      display: flex;
      justify-content: center;

    }

    .form-login{
      padding-top: 47px;
      width: 300px;
    }
    .signup-form{
      border-radius: 3%;
      margin: 100px;
      padding: 58px 50px;
      padding-bottom: 46px;
      text-align: center;
      box-shadow: -8px 10px 20px grey;
      background-color: white;

    }

    .signup-container{

      display: flex;
      justify-content: center;

    }

    .form-signup{
      padding-top: 47px;
      width: 300px;
    }

    .signup {
          color: #2f68cc;
          font-family: 'Ubuntu', sans-serif;
          font-weight: bold;
          font-size: 33px;
      }
    .name {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;

    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
    }

    form.form1 {
        padding-top: 30px;
    }

    .pass-confirmation {
            width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 60px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
    }

    .dropdown-signup{
      width: 76%;
      color: rgba(38, 50, 56, 0.78);
      font-weight: 700;
      font-size: 15px;
      letter-spacing: 1px;
      background: rgba(136, 126, 126, 0.04);
      padding: 1px 20px;
      border: none;
      border-radius: 230px;
      outline: none;
      box-sizing: border-box;
      border: 12px solid rgba(0, 0, 0, 0.02);
      margin-bottom: 60px;
      text-align: center;
      margin-bottom: 27px;
      font-family: 'Ubuntu', sans-serif;
    }
    select{
      -webkit-appearance:none;
      text-align-last:center;
    }

    .signup-welcome {
          color: #2f68cc;
          font-family: 'Ubuntu', sans-serif;
          font-size: 24px;
      }

    .signup-intro {
          color: rgba(0, 0, 0, 0.83);
          font-family: 'Ubuntu', sans-serif;
          font-size: 14;
      }

    .dropdown-transaction{
      width: 76%;
      color: rgba(38, 50, 56, 0.78);
      font-weight: 700;
      font-size: 15px;
      letter-spacing: 1px;
      background: rgba(136, 126, 126, 0.04);
      padding: 1px 20px;
      border: none;
      border-radius: 230px;
      outline: none;
      box-sizing: border-box;
      border: 12px solid rgba(0, 0, 0, 0.02);
      margin-bottom: 60px;
      text-align: center;
      margin-bottom: 27px;
      font-family: 'Ubuntu', sans-serif;
    }

    .add-transaction-welcome {
          color: #2f68cc;
          font-family: 'Ubuntu', sans-serif;
          font-size: 24px;
      }

    .add-transaction-intro {
          color: rgba(0, 0, 0, 0.83);
          font-family: 'Ubuntu', sans-serif;
          font-size: 14;
      }

      .add-transaction-form{
        border-radius: 3%;
        margin: 100px;
        padding: 58px 50px;
        padding-bottom: 46px;
        text-align: center;
        box-shadow: -8px 10px 20px grey;
        background-color: white;

      }

      .add-transaction-container{

        display: flex;
        justify-content: center;

      }

      .form-add-transaction{
        padding-top: 47px;
        width: 300px;
      }

      .description {
      width: 76%;
      color: rgb(38, 50, 56);
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 1px;
      background: rgba(136, 126, 126, 0.04);
      padding: 10px 20px;
      border: none;
      border-radius: 20px;
      outline: none;
      box-sizing: border-box;
      border: 2px solid rgba(0, 0, 0, 0.02);
      margin-bottom: 50px;

      text-align: center;
      margin-bottom: 27px;
      font-family: 'Ubuntu', sans-serif;
      }

      .amount {
      width: 76%;
      color: rgb(38, 50, 56);
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 1px;
      background: rgba(136, 126, 126, 0.04);
      padding: 10px 20px;
      border: none;
      border-radius: 20px;
      outline: none;
      box-sizing: border-box;
      border: 2px solid rgba(0, 0, 0, 0.02);
      margin-bottom: 50px;

      text-align: center;
      margin-bottom: 27px;
      font-family: 'Ubuntu', sans-serif;
      }

      .date {
      width: 76%;
      color: rgb(38, 50, 56);
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 1px;
      background: rgba(136, 126, 126, 0.04);
      padding: 10px 20px;
      border: none;
      border-radius: 20px;
      outline: none;
      box-sizing: border-box;
      border: 2px solid rgba(0, 0, 0, 0.02);
      margin-bottom: 50px;

      text-align: center;
      margin-bottom: 27px;
      font-family: 'Ubuntu', sans-serif;
      }


      .non-active {
        cursor: pointer;
          border-radius: 5em;
          color: #fff;
          background: linear-gradient(to right, rgba(38, 50, 56, 0.78), rgba(38, 50, 56, 0.49));
          border: 0;
          padding-left: 40px;
          padding-right: 40px;
          padding-bottom: 10px;
          padding-top: 10px;
          font-family: 'Ubuntu', sans-serif;
          margin-left: 4%;
          font-size: 13px;
          box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
          margin-bottom: 30px;
      }

      .expenseActive{
        cursor: pointer;
          border-radius: 5em;
          color: #fff;
          background: linear-gradient(to right, rgb(210, 8, 8), #fba840);
          border: 0;
          padding-left: 40px;
          padding-right: 40px;
          padding-bottom: 10px;
          padding-top: 10px;
          font-family: 'Ubuntu', sans-serif;
          margin-left: 4%;
          font-size: 13px;
          box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
          margin-bottom: 30px;
      }
      .incomeActive{
        cursor: pointer;
          border-radius: 5em;
          color: #fff;
          background: linear-gradient(to right, rgb(73, 210, 8), #0aa20f);
          border: 0;
          padding-left: 40px;
          padding-right: 40px;
          padding-bottom: 10px;
          padding-top: 10px;
          font-family: 'Ubuntu', sans-serif;
          margin-left: 4%;
          font-size: 13px;
          box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
          margin-bottom: 30px;
      }

      .user-homecard-container{
        display: flex;
        float: left;
        padding-left: 50px;

      }

      .user-homecard{

          position: relative;
          margin: auto;
          height: 350px;
          width: 600px;
          text-align: left;
          background: linear-gradient(#2736b0, #2f9ccc, #2f68cc);
          border-radius: 10px;
          box-shadow: 0 6px 12px -3px rgba(0,0,0,.3);
          color: #fff;
          padding: 30px;

      }

      .user-homecard header {
        position: absolute;
        top: 31px;
        left: 0;
        width: 100%;
        padding: 0 5%;
        /* transform: translateY(-50%); */
        /* display: grid; */
        /* grid-template-columns: 1fr 1fr 1fr; */
        align-items: left;
        font-size: 30px
}

        .homecard-details {
        position: relative;
        padding: 0 3%;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        font-size: 24px
      }

      .recent-container{
        display: flex;
      }

      .row-one{
        padding-top: 100px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
